@import "vars";

body {
    font-family: 'Montserrat';
    background: linear-gradient(#1c384a, #212e44, #481a4b,#1c384a, #212e44, #481a4b, #1c384a, #212e44, #481a4b);
    color:white;
}

body {
    header, footer {
        nav {
            ul {
                list-style-type: none;
                display:grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }
}

body {
    header, footer {
        nav {
            ul {
                a {
                    text-decoration:none;
                    color:white;
                    text-align:center;
                }
            }
        }
    }
}


h1, h2, h3, h4 {
    text-align:center;
}

body {
    &>header {
        &>img {
              width: 200px;
              display: block;
              margin-left: auto;
              margin-right: auto;
        }
    }
}


body {
    &>main {
        .tbody {
            &>img {
              width: 200px;
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
        }
    }
}

